/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* font-family: roboto ; */
    font-family: roboto, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    padding: 0px;
}

.main1 {
    height: 460px;
}

.main1,
.footer {
    background-color: #1F2937;
    /* display: flex; */
    gap: 55px;
}

.left-link {
    display: flex;
    /* margin-left: 325px; */
    /* justify-content: end; */
}

.right-link {
    margin-right: 20px;
}

.main1,
.main2 {
    display: flex;
    flex-flow: column;
}

.headerRow {
    display: flex;
    align-items: center;
    padding: 10px 415px;
    /* padding: 0px 158px; */
    /* padding-left: 220px; */
    /* gap: 634px; */
    justify-content: space-between;
    /* padding: 20px;*/

}

.right-link ul {
    display: flex;
    list-style: none;
    gap: 20px;
    /* justify-content: space-between;
    margin: 0;
    padding: 0; */
}

.main1 img {
    display: inline-block;
    width: 50px;
    height: 70px;
}

.heroMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroSeconderyText,
.headerLinkText a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-bottom: 10px;
}


.header-logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: bolder;
}

/* container1M1 */
.container1M1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-flow: column; */
    gap: 50px;
    /* padding: 20px; */
    padding: 10px 415px;
    padding-left: 360px;

    /* padding-left: 180px; */
    /* padding-right: 300px; */
    /* flex: 1;*/

}

.container1-1 {
    /* margin-left: 250px;  */
    padding: 40px;
    /* display: flex; */
    /* flex: 1; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-content: flex-end; */
    /* margin-left: 150px; */
    width: 450px;

}

.heroMainText {
    width: 350px;
}

.container1-1 button {
    /* font-family: roboto; */
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    font-size: medium;
    color: #f9faf8;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    padding: 6PX;
}

.container1M1 img {
    display: inline-block;
    width: 600px;
    height: 300px;
    background-color: #82868cb8;
}

/* main2 start */
.main2 {
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

}

.randInfoM2 {
    display: flex;
    justify-content: center;
    align-items: center
        /* flex: 1; */
}

.randInfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container1M2 {
    display: flex;
    /* background-color: #bfc5d0; */
    justify-content: center;
    /* flex: 1; */
    /* height: 500px; */

}

.infoPanel {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.infoPanel .textM2 {
flex: 1;
width: 120px;
}
.infoPanel img {
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* main3 start */


.main3 {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quoteM3 {
    width: 900px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1f2937;
    flex: 1;
    text-align: start;
}

.author {
    text-align: end;
    font-weight: 600;
    font-size: 22px;
}
/* use width property 
.main1 .imgM1C1 {
    display: inline-block;
}

img{
display: inline-block;
} */